.bar {
  position: relative;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 52px;
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 680px) {
  .bar {
    padding: 16px;
  }
  .right {
    gap: 10px;
  }
}
